html {
    overflow: hidden;
}

.flyingBee {
    height: fit-content;
    margin: auto;
    display: grid;
    place-items: center;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.bee {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 4vw;
    transform: translate3d(0, 0, 0);
}

.leaves {
    width: 35vw;
    transform: translate3d(0, 0, 0);
    animation-name: leaves;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    transform-origin: bottom center;
}

@keyframes leaves {
    0% {
        transform:
            translate3d(0, 0, 0) rotate3d(0, 1, 1, 0);
    }

    25% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 1, 1, 2.5deg);
    }

    75% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 1, 1, -2deg);
    }

    100% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 1, 1, 0deg);
    }
}

#wing1 {
    animation-name: wing1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    transform-origin: bottom center;
}

@keyframes wing1 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }

    50% {
        transform:
            translate3d(10px, -10px, 0px) rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
    }
}

#wing2 {
    animation-name: wing2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(100deg); */
    animation-duration: 1s;
    transform-origin: bottom center;
}

@keyframes wing2 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }

    50% {
        transform:
            translate3d(-10px, -10px, 0px) rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
    }

}

.leaf1 {
    animation-name: leaf1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

@keyframes leaf1 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }

    50% {
        transform:
            translate3d(5px, 5px, 5px) rotate3d(1, 1, 0, 45deg);
    }

    100% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
    }

}

.leaf2 {
    animation-name: leaf2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(100deg); */
    animation-duration: 5s;
}

@keyframes leaf2 {
    0% {
        transform:
            translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }

    50% {
        transform:
            translate3d(0px, 5px, 5px) rotate3d(1, 1, 0, 30deg);
    }

    100% {
        transform:
            translate3d(0px, 0px, 0px) rotate3d(0, 0, 0, 0deg);
    }
}

.bee {
    animation-name: beeFly;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(100deg); */
    animation-duration: 12s;
}

@keyframes beeFly {
    0% {
        transform:
            translate3d(-3rem, 0rem, 10px) rotate3d(0, 0, 0, 0);
    }

    10% {
        transform:
            translate3d(1rem, 3rem, 70px) rotate3d(0, 0, 0, 0deg);
    }

    20% {
        transform:
            translate3d(5rem, 4rem, 50px) rotate3d(0, 0, 0, 0deg);
    }

    30% {
        transform:
            translate3d(12rem, 0rem, 60px) rotate3d(0, 0, 0, 0deg);
    }

    40% {
        transform:
            translate3d(18rem, 2rem, 55px) rotate3d(0, 0, 0, 0deg);
    }

    50% {
        transform:
            translate3d(22rem, -1rem, 10px) rotate3d(0, 0, 0, 0deg);
    }

    52% {
        transform:
            translate3d(22rem, -1rem, 10px) rotate3d(0.3, 1, 0, 180deg);
    }

    60% {
        transform:
            translate3d(18rem, 3rem, -50px) rotate3d(0.1, 1, 0, 180deg);
    }

    70% {
        transform:
            translate3d(12rem, 4rem, -50px) rotate3d(0, 1, 0, 180deg);
    }

    80% {
        transform:
            translate3d(7rem, 1rem, -20px) rotate3d(0, 1, 0, 180deg);
    }

    90% {
        transform:
            translate3d(3rem, 3rem, -10px) rotate3d(0, 1, 0, 180deg);
    }

    100% {
        transform:
            translate3d(-3rem, 1rem, -10px) rotate3d(0, 1, 0, 180deg);
    }
}

/* media query for mobile devices */

@media (orientation: portrait) and (max-width: 700px) {

    html,
    body {
        overflow: hidden;
    }

    .bee {
        width: 24px;
    }

    .leaves {
        --beeWidth: 24px;
        width: calc(var(--beeWidth) * 8.75);
    }

    @keyframes beeFly {
        0% {
            transform:
                translate3d(-3rem, 3rem, 10px) rotate3d(0, 0, 0, 0);
        }

        10% {
            transform:
                translate3d(-0.33rem, 5rem, 70px) rotate3d(0, 0, 0, 0deg);
        }

        20% {
            transform:
                translate3d(2.34rem, 5.67rem, 50px) rotate3d(0, 0, 0, 0deg);
        }

        30% {
            transform:
                translate3d(7rem, 3rem, 60px) rotate3d(0, 0, 0, 0deg);
        }

        40% {
            transform:
                translate3d(11rem, 4.33rem, 55px) rotate3d(0, 0, 0, 0deg);
        }

        50% {
            transform:
                translate3d(13.67rem, 2.17rem, 10px) rotate3d(0, 0, 0, 0deg);
        }

        52% {
            transform:
                translate3d(13.67rem, 2.17rem, 10px) rotate3d(0.3, 1, 0, 180deg);
        }

        60% {
            transform:
                translate3d(11rem, 5rem, -50px) rotate3d(0.1, 1, 0, 180deg);
        }

        70% {
            transform:
                translate3d(7rem, 5.67rem, -50px) rotate3d(0, 1, 0, 180deg);
        }

        80% {
            transform:
                translate3d(3.67rem, 3.67rem, -20px) rotate3d(0, 1, 0, 180deg);
        }

        90% {
            transform:
                translate3d(1rem, 5rem, -10px) rotate3d(0, 1, 0, 180deg);
        }

        100% {
            transform:
                translate3d(-3rem, 3.67rem, -10px) rotate3d(0, 1, 0, 180deg);
        }
    }
}