html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.island1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.scene {
    width: 100vw;
    height: 100vh;
}

#mute {
    position: absolute;
    bottom: 30px;
    right: -3px;
    z-index: 1;
    width: 45px;
    margin: 15px;
    cursor: pointer;
    fill: #687980;
    transition: all 0.5s ease-in-out;
}

#mute:hover {
    fill: #8ac4d0;
    transform: scale(1.07);
}

#Line_1 {
    animation: pulse 1s infinite;
    animation-delay: 0.15s;
}

#Line_2 {
    animation: pulse 1s infinite;
    animation-delay: 0.3s;
}

#Line_3 {
    animation: pulse 1s infinite;
    animation-delay: 0.45s;
}

#Line_4 {
    animation: pulse 1s infinite;
    animation-delay: 0.6s;
}

#Line_5 {
    animation: pulse 1s infinite;
    animation-delay: 0.75s;
}

#Line_6 {
    animation: pulse 1s infinite;
    animation-delay: 0.9s;
}

#Line_7 {
    animation: pulse 1s infinite;
    animation-delay: 1.05s;
}

#Line_8 {
    animation: pulse 1s infinite;
    animation-delay: 1.2s;
}

#Line_9 {
    animation: pulse 1s infinite;
    animation-delay: 1.35s;
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }

    50% {
        transform: scaleY(.7);
        transform-origin: 50% 50%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}

.muted {
    animation: none !important;
}

.softClock {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    cursor: default;
}

.clockAppear {
    visibility: visible;
}

.rs-base {
    display: none;
    left: auto;
    top: 40px;
    right: 1vw;
}

.rs-base .rs-container * {
    font-size: 10px !important;
}

.stats {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    border: 1px solid #444;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    /* padding: 0.25vw 0.85vw; */
    font-size: max(0.7vw, 11px);
    margin: 0 1vw;
    font-family: 'Ubuntu', sans-serif;
}

.stats:hover {
    font-weight: bold;
    transform: scale(1.02);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.showStats {
    display: inline-block;
}

@media (orientation: portrait) {
    #mute {
        bottom: 40px;
        right: 7px;
        z-index: 1;
        width: 40px;
        margin: 5px;
        cursor: pointer;
        fill: #687980;
        transition: 0.5s;
    }
}